$logo-font-family: "Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif";

.createForm {
  margin-top: 2%;
  width: 80%;
  display: table;
}

.btn {
  font: $logo-font-family;

  text-transform: uppercase !important;
  color: whitesmoke !important;
}

.notValid {
  color: red;
  text-transform: uppercase !important;
}

.faultyForm {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2) !important;
}
